.wrapper {
    --border-radius-search: 92px;
    --button-search-width: 52px;

    height: var(--layout-default-header-hight, 60px);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;
    width: 100%;
}

.inner {
    height: 100%;
    width: var(--layout-default-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 118px;
    height: 42px;
}

.action {
    display: flex;
    align-items: center;
}

.btn-action {
    margin-right: 24px;
    font-size: 2.6rem;
    cursor: pointer;
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.more-option {
    background-color: transparent;
    font-size: 1.8rem;
    cursor: pointer;
    padding: 6px;
    margin-left: calc(var(--margin-btn-action-header) - 6px);
}

