@import 'normalize.css';
@import url('https://fonts.cdnfonts.com/css/proxima-nova');

:root {
    --primary: #fe2c55;
    --text-color: rgba(22, 24, 35, 1);
    --white: #fff;

    --font-family: 'ProximaNova', 'Arial', 'Tahoma' ,sans-serif;

    // Layout Default
    --layout-default-header-hight: 60px;
    --layout-default-width: 1150px;
    --margin-btn-action-header: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    color: var(--text-color);
}

// ProximaNova
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}

// ProximaNova
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Semibold.woff2');
    font-weight: 600;
}

// ProximaNova
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Bold.woff2');
    font-weight: 700;
}

// ProximaNova
@font-face {
    font-family: SofiaPro;
    src: url('/assets/fonts/sofiapro-bold.woff2');
    font-weight: 700;
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
    background-color: transparent;
}

a[href] {
    text-decoration: none;
    color: var(--text-color);    
    font-size: 1.6rem;
}

body {

    .tippy-content {
        padding: 0;
    }
    
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        background-color: rgba(84, 84, 84, 0.92);
        padding: 8px;
    }

    .tippy-box[data-placement^=bottom]>.tippy-arrow:before {
        top: -8px;
        color: rgba(84, 84, 84, 0.92);
    }
}